.button_type_profile-edit {
    background-image: url(../../../images/button-edit.svg);
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center;
    border: 1px solid #FFF;
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 0;
    margin-top: 15px;
}

.button_type_profile-edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 576px) {
    .button_type_profile-edit {
        margin-top: 8px;
        width: 18px;
        height: 18px;
    }
}